@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.articleFive-SectionTwo {
    max-width: 2550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.articleFive-SectionTwo__divOne {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    height: 865px;
    background-image: url(../img/image\ 5.1.png);
    background-size: 1440px 865px;
    margin-top: 300px;
    position: relative;
}
.articleFive-SectionTwo__divOne::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    
}
.articleFive-SectionTwo__divOnebox {
    display: flex;
    flex-direction: column;
}
.articleFive-SectionTwo__divOne-p1 {
    font-family: 'Yeseva One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 1;
    margin-top: 137px;
    margin-left: 100px;
}
.articleFive-SectionTwo__divOne-ul1 {
    list-style-type: none;
    margin-top: 13px;
    margin-left: 63px;
    z-index: 1;
}
.articleFive-SectionTwo__divOne-ul1-li1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
}
.articleFive-SectionTwo__divOne-hr1 {
    border: none;
    color: #E3B873;
    background-color: #E3B873;
    height: 1px;
    width: 143px;
    margin-left: 0px;
    margin-top: 0px;
}
.articleFive-SectionTwo__divOne-ul1-li2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 11px;
}
.articleFive-SectionTwo__divTwo {
    display: flex;
    flex-direction: column;
}
.articleFive-SectionTwo__divThree {
    display: flex;
    flex-direction: column;
}
.articleFive-SectionTwo__divTwo-img1 {
    z-index: 1;
    margin: -41px 43px 0px 210px;
}
.articleFive-SectionTwo__divTwo-img2 {
    z-index: 1;
    margin: 39px 43px 0px 210px;
}
.articleFive-SectionTwo__divTwo-img3 {
    z-index: 1;
    margin: -112px 50px 39px 0px ;
}
.articleFive-SectionTwo__divTwo-img4 {
z-index: 1;
margin: 0px 50px 50px 0px;
}
.articleFive-SectionTwo__divFour {
    display: flex;
    flex-direction: column;
}
.articleFive-SectionTwo__divFour-p1 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 110px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
}
.articleFive-SectionTwo__divFour-img1 {
    display: flex;
    margin: 0px auto 24px auto;
    width: 114px;
    height: 28px;
}
.articleFive-SectionTwo__divFour-p2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-bottom: 39px;
}
.articleFive-SectionTwo__divFive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.articleFive-SectionTwo__divFive-boxAll {
    display:flex;
    margin-top: 18px;
    flex-direction: column;
}
.articleFive-SectionTwo__divFive-img1 {
    border-radius: 50%;
}
.articleFive-SectionTwo__divFive-p1 {
    font-family: 'Yeseva One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 23px;
}
.articleFive-SectionTwo__divFive-p2 {
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    width: 324px;
    height: 239px;
}
.articleSix {
    display: flex;
    flex-direction: column;
    width: 885px;
    height: 445px;
    background: #181818;
    margin: 130px auto;
    z-index: 1;
}
.articleSix-p1 {
    font-family: 'Yeseva One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.articleSix-divAll {
    max-width: 515px; 
    display: flex; 
    justify-content:center;
}
.articleSix-divOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.articleSix-divOne__p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}
.articleSix-divOne__input1 {
    background: #181818;
    border: 0;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 0;
}
input::-moz-placeholder {
    color: #FFFFFF;
}
input::-webkit-input-placeholder {
    color: #FFFFFF;
}
.articleSix-divOne__hr1 {
    border: 1px solid #363636;;
    background-color: #363636;;
    width: 225px;
    margin: 8px 0px 0px 0px;
}
.articleSix-divOne__textConfig {
    display: flex; 
    flex-direction:column; 
    margin-left: 60px;
}
.articleSix-divOne__congig2 {
    display: flex; 
    flex-direction:column; 
    justify-content: center; 
    margin: 50px 0px;
}
.articleSix-divOne__hr2 {
    border: 1px solid #363636;;
    background-color: #363636;;
    width: 512px;
    margin: 8px 0px 0px 0px;
}
.articleSix-divTwo {
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-top: -10px;
}
.articleSix-divTwo__input2 {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.articleSix-divTwo__label1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-left: 28px;
}
.articleSix-divTwo__label1::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #E3B873;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}
.articleSix-divTwo__label1::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/Vector\ check.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 3px;
    margin-left: 3px;
    opacity: 0;
}
.articleSix-divTwo__input2:checked + .articleSix-divTwo__label1::after {
    opacity: 1;
}
.articleSix-divThree {
    width: 200px;
    height: 50px;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    display: flex;
    margin: 35px auto;
    cursor: pointer;
    border: 0;
}
.articleSix-divThree__p1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
}
.articleSeven {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1000px;
    background-image: url(../img/image\ 7.2.png);
    background-size: 1440px 1000px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px auto;
}
.articleSeven::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.articleSix-divMain {
    display: flex; 
    flex-direction:row; 
    justify-content: center;
    margin-top: -1110px;
    z-index: 0;
}
.articleSeven-p1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 1;
    padding-top: 250px;
}
.articleSeven-img1 {
    width: 70px;
    height: 30px;
    z-index: 1;
    z-index: 1;
    margin: 26px auto;
}
.articleSeven-img2 {
    width: 925px;
    height: 465px;
    z-index: 1;
    margin: 35px auto;
}
footer {
    display: flex;
    flex-direction: row;
    max-width: 2500px;
    height: 135px;
    background-color: #131313;
}